@import "tailwindcss";
@import "./styles/write.css";

@layer base {
  :root {
    --Point: #00a1ff;
    --White: #ffffff;

    --Gray7: #111112;
    --Gray20: #333333;
    --Gray-33: #555555;
    --Gray56: #909090;
    --Gray-78: #C8C8C8;
    --Gray90: #e6e6e6;
    --Gray96: #f2f2f2;

    --Negative: #ff3f3f;
    --Positive: #15dc5e;
    --Black: #000000;
    --Neutral-1: #ffffff;
    --Neutral-5: #d9d9d9;
    --Primary-6: #1890ff;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-family: "Noto Sans KR", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.07px;
    color: var(--Gray20);
    background: #fafafa;
  }
}

@theme {
  --font-sans: "Noto Sans KR", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;

  --color-black: var(--Black);
  --color-white: var(--White);

  --color-gray-7: var(--Gray7);
  --color-gray-20: var(--Gray20);
  --color-gray-33: var(--Gray-33);
  --color-gray-56: var(--Gray56);
  --color-gray-78: var(--Gray-78);
  --color-gray-90: var(--Gray90);
  --color-gray-96: var(--Gray96);

  --color-neutral-1: var(--Neutral-1);
  --color-neutral-5: var(--Neutral-5);

  --color-primary-6: var(--Primary-6);
  --color-negative: var(--Negative);
  --color-positive: var(--Positive);

  --color-point: var(--Point);
}

@layer components {
  .btn-reset { @apply outline-none select-none bg-transparent border-0 p-0 appearance-none; }
  .btn-text-14 { @apply text-[14px] leading-[22.4px] font-normal tracking-[-0.07px]; }
  .btn-text-12 { @apply text-[12px] leading-[19.2px] font-normal; }
  .logo-text { @apply text-[20px] leading-[28px] font-normal; font-family: "Smooch", cursive; color: var(--Black); }
}
